@import './base.css';

#app {
  min-width: 40%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  background-color: #080c0f;
  font-family: Open-sans;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {

    /* Remove display: flex and place-items properties */
  }

  #app {
    /* Remove display: grid and grid-template-columns properties */
    padding: 0 2rem;
  }
}
